<div class="bg-gray-100 h-screen py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-2xl font-semibold mb-4">Shopping Cart</h1>
        <div class="flex flex-col md:flex-row gap-4">
            <div class="md:w-3/4">
                <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th class="text-left font-semibold">Product</th>
                                <th class="text-center font-semibold">Price</th>
                                <th class="text-center font-semibold">Quantity</th>
                                <th class="text-center font-semibold">Total</th>
                                <th class="text-center font-semibold">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of produitsPanier; track item.id) {
                            <tr class="text-center border-b">
                                <td class="py-4">
                                    <div class="flex items-center">
                                        <img class="h-16 w-16 mr-4 object-cover" [src]="item.photos[0].imagePath"
                                            alt="Product">
                                        <span class="font-semibold">{{item.libelle}}</span>
                                    </div>
                                </td>
                                <td class="py-4">{{item.promo?item.prix:item.newPrix}}</td>
                                <td class="py-4">{{item.qteCom}}
                                </td>
                                <td class="py-4">{{(item.promo?item.prix:item.newPrix ?? 0) * (item.qteCom ?? 0)}}</td>
                                <td class="py-4 flex items-center justify-center">
                                    <button type="button" (click)="deleteItem(item.id)"
                                        class="text-red-600 mt-5 cursor-pointer flex items-center space-x-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 7l-.867 12.142A2 2 0 0116.136 21H7.864a2 2 0 01-1.997-1.858L5 7m5-4h4m-4 0a2 2 0 00-2 2v1h8V5a2 2 0 00-2-2m-4 0h4" />
                                        </svg>
                                        <span>SUPPRIMER</span>
                                    </button>
                                </td>
                            </tr>}
                            <!-- More product rows -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="md:w-1/4">
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-lg font-semibold mb-4">Summary</h2>
                    <div class="mt-6 space-y-3">
                        <div class="flex justify-between text-gray-600">
                            <span>Subtotal</span>
                            <span>{{panierService.panierFinal().total}} FCFA</span>
                        </div>
                        <div class="flex justify-between text-gray-600">
                            <span>TVA</span>
                            <span class="text-green-500">0 FCFA</span>
                        </div>
                        <div class="flex justify-between font-semibold text-gray-800">
                            <span>Total</span>
                            <span>{{panierService.panierFinal().total}} FCFA</span>
                        </div>
                        <a routerLink="/security/login" [queryParams]="{'link':'panier'}"
                            class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full">Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>