<div class="min-h-screen flex items-center justify-center bg-green-100">
    <div class="max-w-4xl w-full flex mx-auto items-center justify-center">
        <div
            class="flex w-full mx-auto bg-white rounded-lg shadow-[0px_0px_12px_0px_rgba(32,181,38,0.32)] border border-[#2c732f]">
            <!-- Logo Section (à gauche) -->
            <div class="w-1/2 p-8 flex justify-center items-center border-r-2">
                <img src="logo.png" alt="Logo" class="h-68" />
            </div>

            <!-- Formulaire de Connexion (à droite) -->
            <div class="w-1/2 p-8">
                <h2 class="text-3xl font-bold mb-4 text-gray-800 text-center underline">
                    Se Connecter
                </h2>
                <form action="#" method="POST">
                    <!-- Email -->
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
                            placeholder="Votre email" required />
                    </div>

                    <!-- Password -->
                    <div class="mb-6">
                        <label for="password" class="block text-gray-700">Mot de passe</label>
                        <input type="password" id="password" name="password"
                            class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
                            placeholder="Votre mot de passe" required />
                    </div>

                    <!-- Submit Button -->
                    <button type="submit"
                        class="w-full p-3 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">
                        <a href="index.html">Se connecter</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>