<app-nav />

<!-- --------------------------- SECTION CONSEIL DE CONSOMMATION ---------------------------------- -->

<section class="flex flex-col justify-center max-w-7xl min-h-screen px-4 py-10 mx-auto sm:px-6">
    <h2 class="text-4xl my-5 text-center font-bold text-[#00b206] italic leading-none md:text-5xl">
        Des Conseils de Consommation ?
    </h2>

    <div class="h-1 w-20 bg-gradient-to-r bg-[#2c732f] mx-auto mb-3 rounded-full"></div>

    <div class="flex justify-end">
        <a href="#"
            class="block mb-3 mt-2 text-base font-bold text-[#00b206] uppercase border-b border-transparent hover:border-[#2c732f]">
            Go to insights ->
        </a>
    </div>
    <div class="flex -mx-4">
        <div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
            <img src="img/Conseils/conseil1.jpg" alt="Card img" class="object-cover object-center w-full h-48" />
            <div class="flex flex-grow">
                <div class="triangle"></div>
                <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 text">
                    <div>
                        <a href="#"
                            class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-[#2c732f] hover:text-[#2c732f]">Reliable
                            Schemas</a>
                        <a href="#"
                            class="block mb-4 text-2xl font-bold text-[#00b206] leading-tight hover:underline hover:text-[#2c732f]">
                            Comment bien conserver vos fruits bio ?
                        </a>
                        <p class="mb-4 text-lg">
                            Découvrez nos astuces pour garder vos fruits frais plus longtemps sans conservateurs.
                        </p>
                    </div>
                    <div>
                        <div class="flex items-center flex-wrap ">
                            <a class="text-[#00b206] inline-flex items-center md:mb-2 lg:mb-0">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            <span
                                class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>1.2K
                            </span>
                            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                    </path>
                                </svg>6
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
            <img src="img/Conseils/conseil2.jpg" alt="Card img" class="object-cover object-center w-full h-48" />
            <div class="flex flex-grow">
                <div class="triangle"></div>
                <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400">
                    <div>
                        <a href="#"
                            class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-[#2c732f] hover:text-[#2c732f]">Client-based
                            Adoption</a>
                        <a href="#"
                            class="block mb-4 text-2xl font-bold text-[#00b206] leading-tight hover:underline hover:text-[#2c732f]">
                            Pourquoi choisir des produits locaux ?

                        </a>
                        <p class="mb-4 text-lg">
                            Les avantages pour votre santé et la planète en privilégiant les circuits courts.
                        </p>
                    </div>
                    <div>
                        <div class="flex items-center flex-wrap ">
                            <a class="text-[#00b206] inline-flex items-center md:mb-2 lg:mb-0">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            <span
                                class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>1.2K
                            </span>
                            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                    </path>
                                </svg>6
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
            <img src="img/Conseils/conseil1.jpg" alt="Card img" class="object-cover object-center w-full h-48" />
            <div class="flex flex-grow">
                <div class="triangle"></div>
                <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400">
                    <div>
                        <a href="#"
                            class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-[#2c732f] hover:text-[#2c732f]">Intellectual
                            Capital</a>
                        <a href="#"
                            class="block mb-4 text-2xl font-bold text-[#00b206] leading-tight hover:underline hover:text-[#2c732f]">
                            Comment bien conserver vos fruits bio ?
                        </a>
                        <p class="mb-4 text-lg">
                            Découvrez nos astuces pour garder vos fruits frais plus longtemps sans conservateurs.
                        </p>
                    </div>
                    <div>
                        <div class="flex items-center flex-wrap ">
                            <a class="text-[#00b206] inline-flex items-center md:mb-2 lg:mb-0">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            <span
                                class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>1.2K
                            </span>
                            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                    </path>
                                </svg>6
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- --------------------------- SECTION RECETTES ---------------------------------- -->

<section class="text-gray-600 body-font bg-green-100">
    <div class="container px-5 py-8 mx-auto">
        <h2 class="text-4xl my-5 text-center font-bold text-[#00b206] italic leading-none md:text-5xl">
            Apprenez de nouvelles recettes !
        </h2>

        <div class="h-1 w-20 bg-gradient-to-r bg-[#2c732f] mx-auto mb-3 rounded-full"></div>

        <div class="flex justify-end">
            <a href="#"
                class="block mb-3 mt-2 text-base font-bold text-[#00b206] uppercase border-b border-transparent hover:border-[#2c732f]">
                Go to insights ->
            </a>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/3">
                <div
                    class="h-full border border-[#2c732f] shadow-[0px_0px_12px_0px_rgba(32,181,38,0.32)] bg-white rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="img/recettes/recette3.jpg"
                        alt="blog">
                    <div class="p-6">

                        <h1 class="title-font text-xl font-semibold text-[#00b206] mb-3">thiebou dieune</h1>
                        <p class="leading-relaxed mb-3">Plat national du Sénégal, un savoureux
                            mélange de riz, de poisson, et de légumes mijotés dans une sauce tomate épicée. </p>
                        <div class="flex items-center flex-wrap ">
                            <a class="text-[#00b206] inline-flex items-center md:mb-2 lg:mb-0">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            <span
                                class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>1.2K
                            </span>
                            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                    </path>
                                </svg>6
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/3">
                <div
                    class="h-full border border-[#2c732f] shadow-[0px_0px_12px_0px_rgba(32,181,38,0.32)] bg-white rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="img/recettes/recette1.jpg"
                        alt="blog">
                    <div class="p-6">

                        <h1 class="title-font text-xl font-semibold text-[#00b206] mb-3">Salade fraîche aux tomates bio
                        </h1>
                        <p class="leading-relaxed mb-3">Une salade colorée et croquante, composée de tomates bio
                            juteuses, parfaite pour accompagner vos repas avec fraîcheur et
                            légèreté.</p>
                        <div class="flex items-center flex-wrap">
                            <a class="text-[#00b206] inline-flex items-center md:mb-2 lg:mb-0">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            <span
                                class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>1.2K
                            </span>
                            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                    </path>
                                </svg>6
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/3">
                <div
                    class="h-full border border-[#2c732f] shadow-[0px_0px_12px_0px_rgba(32,181,38,0.32)] bg-white rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="img/recettes/recette2.jpg"
                        alt="blog">
                    <div class="p-6">

                        <h1 class="title-font text-xl font-semibold text-[#00b206] mb-3">Soupe de carottes bio</h1>
                        <p class="leading-relaxed mb-3">Réconfortante et douce, cette soupe de carottes bio allie
                            simplicité et goût, idéale pour une pause chaleureuse et
                            saine.</p>
                        <div class="flex items-center flex-wrap ">
                            <a class="text-[#00b206] inline-flex items-center md:mb-2 lg:mb-0">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            <span
                                class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>1.2K
                            </span>
                            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                    </path>
                                </svg>6
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- --------------------------- SECTION TEMOIGNAGE ---------------------------------- -->

<section class="text-gray-600">
    <div class="container px-5 py-8 mx-auto">
        <h2 class="text-4xl my-5 text-center font-bold text-[#00b206] italic leading-none md:text-5xl">
            Ce que nos clients disent de nous !
        </h2>

        <div class="h-1 w-20 bg-gradient-to-r bg-[#2c732f] mx-auto mb-3 rounded-full"></div>
    </div>

</section>




<!-- --------------------------- SECTION FOOTER ---------------------------------- -->

<app-footer />