<section class="bg-[#2c732f] text-white py-10 px-4">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-4">Inscrivez-vous à notre newsletter</h2>
        <p class="mb-6">Recevez les dernières nouvelles et offres directement dans votre boîte de réception.</p>
        <form class="flex justify-center">
            <input type="email" placeholder="Votre adresse e-mail" class="px-4 py-2 rounded-l-lg w-1/3" required />
            <button type="submit"
                class="bg-[#00b206] text-white px-4 py-2 rounded-r-lg hover:bg-[#2c732f] transition duration-300">S'inscrire</button>
        </form>
    </div>
</section>