<app-nav />

<!-- -------------------------------------------------- SECTION CONTACT -------------------------------------------- -->

<section class="mb-32 mt-3">
    <div id="map" class="relative h-[300px] overflow-hidden bg-cover bg-[50%] bg-no-repeat">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7718.268660928098!2d-17.4773087!3d14.7049945!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172a00e35578f%3A0xb9bbbfe73a39070f!2sESPACE%20NUMERIQUE%20OUVERT%20DE%20MERMOZ!5e0!3m2!1sfr!2ssn!4v1745011279744!5m2!1sfr!2ssn"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Google Maps location of ESPACE NUMERIQUE OUVERT DE MERMOZ"></iframe>
    </div>
    <div class="px-16 md:px-20">
        <div
            class="block mx-auto rounded-lg bg-green-100 px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:py-16 md:px-12 -mt-[100px] backdrop-blur-[30px] border border-gray-300">

            <h2 class="text-3xl text-center text-[#00b206] mb-5 italic font-bold">Contactez-nous</h2>
            <!-- Conteneur flex pour les deux colonnes -->
            <div class="flex flex-col md:flex-row gap-8">
                <!-- Colonne de gauche - Formulaire -->
                <div class="w-full md:w-1/2 px-5">
                    <form class="px-6">
                        <div class="mb-4">
                            <label for="name" class="block text-sm font-medium mb-1">Nom</label>
                            <input type="text" id="name" class="w-full px-3 py-2 border rounded-lg">
                        </div>
                        <div class="mb-4">
                            <label for="email" class="block text-sm font-medium mb-1">Email</label>
                            <input type="email" id="email" class="w-full px-3 py-2 border rounded-lg">
                        </div>
                        <div class="mb-4">
                            <label for="message" class="block text-sm font-medium mb-1">Message</label>
                            <textarea id="message" rows="4" class="w-full px-3 py-2 border rounded-lg"></textarea>
                        </div>
                        <button type="submit"
                            class="bg-[#00b206] text-white px-4 py-2 w-full rounded-lg hover:bg-blue-600">Envoyer</button>
                    </form>
                </div>

                <!-- Colonne de droite - Texte -->
                <div class="w-full md:w-1/2 mt-10">
                    <div class="flex flex-wrap">
                        <div
                            class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12">
                            <div class="flex items-start">
                                <div class="shrink-0">
                                    <div class="inline-block rounded-md bg-[#00b206] p-4 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="h-6 w-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-6 grow">
                                    <p class="mb-2 font-bold ">
                                        Contact
                                    </p>
                                    <p class="text-sm text-neutral-500" [textContent]="'bioteranga@gmail.com'">
                                    </p>
                                    <p class="text-sm text-neutral-500">
                                        +221 76 182 36 98
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12">
                            <div class="flex items-start">
                                <div class="srink-0">
                                    <div class="inline-block rounded-md bg-[#00b206] p-4 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-6 grow">
                                    <p class="mb-2 font-bold ">
                                        Addresse
                                    </p>
                                    <p class="text-sm text-neutral-500">
                                        Mermoz, Dakar, Senegal
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12">
                            <div class="flex items-start">
                                <div class="shrink-0">
                                    <div class="inline-block rounded-md bg-[#00b206] p-4 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                            <path d="M12 7v5l3 3"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-6 grow">
                                    <p class="mb-2 font-bold ">
                                        Heure d'ouverture
                                    </p>
                                    <p class="text-sm text-neutral-500">
                                        Monday - Friday: 08:00 - 17:00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer />